body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container h1{
    color: chocolate;
    text-align: center;
}

.container label{
    text-align: center;
}

.form-group label{
    text-align: center;
}